{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>tmdnlcl</title>
    {% bootstrap_css %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">tmdnlcl</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                {% if request.session.user_id is None %}
                    <a class="nav-link" href="{% url 'login' %}">로그인</a>
                {% else %}
                    <a class="nav-link" href="{% url 'logout' %}">로그아웃</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="mt-4">
        {% bootstrap_messages %}
    </div>
    {% block content %}{% endblock %}
</div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>