{% extends 'tmdnlcl_app/base.html' %}
{% load bootstrap4 %}

{% block content %}
    {% include 'tmdnlcl_app/info.html' %}
    {% if user is None %}
        <div class="mb-4">
            <h1>계정 설정</h1>
            사용하려면 <a href="{% url 'login' %}">트위터 계정 연동</a>을 먼저 해야 합니다.
        </div>
    {% else %}
        <div class="mb-4">
            <h1>계정 설정</h1>
            <p>
                트위터 계정: {{ request.session.screen_name }}
            </p>

            <form method="post">
                {% csrf_token %}
                {% bootstrap_form mode_form %}
                <button type="submit" class="btn btn-primary">설정 저장</button>
            </form>
        </div>
        {% if user.mode == user.MODE_INSTANT %}
            <div class="mb-4">
                <h1>사용법</h1>
                <ul>
                    <li>
                        닌텐도 스위치에서 트윗 작성 시, 한국어로 작성하고 싶은 부분을 &gt;&lt;로 감싼 뒤 "두벌식 영타"로 작성하면 됩니다. <br/>
                        (예: "안녕 #NintendoSwitch" 라고 트윗을 작성하고 싶은 경우: "&gt;dkssud&lt; #NintendoSwitch")
                    </li>
                    <li>
                        작동을 위해서는 반드시 트윗에 <strong>#NintendoSwitch</strong> 해시태그가 포함되어 있으며 &gt;&lt;로 감싸진 텍스트가 있어야 합니다.
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="mb-4">
                <h1>사용법</h1>
                닌텐도 스위치에서 트윗 작성 시, 다음 조건을 충족하면 트윗이 임시 저장됩니다.

                <ul>
                    <li>
                        트윗 텍스트가 // 로 시작하며 <strong>#NintendoSwitch</strong> 해시태그 포함<br/>
                        (예: "// #스매쉬브라더스 #NintendoSwitch")
                    </li>
                </ul>

                임시 저장된 트윗은 나중에 이 페이지에서 PC나 스마트폰을 통해 업로드 가능합니다.
                <br/>임시 저장된 트윗은 1일동안 보관되며, 이후 <strong>자동으로 삭제됩니다.</strong>
            </div>
            <div>
                <h1>저장된 트윗</h1>
                {% include 'tmdnlcl_app/tweets.html' %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}