{% block content %}
    <div class="mb-4">
        <h1>tmdnlcl</h1>
        <p>
            dho gksrmfdl dksTjwu
        </p>
        <p>
            이 서비스는 닌텐도 스위치에 한글 키보드가 없어서 한글 트윗을 못 올려서 만든 서비스입니다.<br/>
            이거 만든지 꽤 됐는데 아직까지도 한글 키보드를 안 만들어줄지 몰랐습니다.
        </p>
        <p>
            최근 갱신: {{ last_update }}(너무 오래되면 서비스가 멈춘것임)<br/>
            총 {{ total_users }}명의 사용자들이 이거라도 감지덕지 하며 쓰고 있습니다.<br/>
        </p>
        <p>
            서버비가 한달에 4000원 정도 나갑니다. 뭐라도 좀 사주세요. (맹근넘: <a href="https://twitter.com/ReallyiAmGhost">@ReallyiAmGhost</a>)
        </p>

    </div>
{% endblock %}