<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>tmdnlcl</title>
</head>
<body>
dho gksrmfdl dksTjwu

<p>
    총 {{ user_count }}명의 사용자가 한글 키보드가 없어서 이거라도 만족중입니다.<br/>
    사용자가 많을 경우 트윗이 늦게 처리될 수 있습니다.<br/>
    최종 갱신 시간: {{ last_update }}
</p>

<p>사용법:</p>
<ol>
    <li><a href="{{ auth_url }}">트위터 연동</a></li>
    <li>
        트윗할때 &gt; &lt; 문자로 한글을 감싸서 두벌식 영문타로 침<br/>
        (#NintendoSwitch 해시태그가 있는 트윗에만 작동함)
    </li>
    <li>
        조금 기다리면 tmdnlcl가 원래 트윗을 지우고, 텍스트 부분만 한글로 바꿔서 새로 올려줌
        <br/>
        (예: "&gt;Qjzb&lt; #NintendoSwitch" 이렇게 올리면 "뻐큐 #NintendoSwitch" 로 올라감)
    </li>
</ol>
<p><a href="https://github.com/iAmGhost/tmdnlcl">소스코드</a></p>

<p>조금 더 친절한 사용법:</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/p348D_MRdao" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<p>맹근넘: @ReallyiAmGhost</p>

</body>
</html>